{% extends '_base.html.twig' %}

{% block body %}
    {% include '_header.html.twig' %}

    <div class="container mt-4 text-center">
        <div class="m-5">
            <h1>Bienvenue sur GuettoBay</h1>
            <p>Découvrez notre sélection d'armes'.</p>
        </div>

        <img src="{{ asset('assets/images/weapons-shop.jpg') }}" alt="Armes" class="w-25">
    </div>

    {% include '_footer.html.twig' %}
{% endblock %}
