{% block footer %}
    <footer class="py-3 mt-4 border-top bg-light">
        <div class="container d-flex flex-wrap justify-content-center">
            <div class="col-12 col-lg-auto mb-3 mb-lg-0">
                <ul class="nav me-auto">
                    <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Informations</a></li>
                    <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Contact</a></li>
                    <li class="nav-item"><a href="#" class="nav-link link-dark px-2">À propos</a></li>
                </ul>
            </div>
            <div class="col-12 col-lg-auto mb-3 mb-lg-0">
                <ul class="nav">
                    <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Conditions d'utilisation</a></li>
                    <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Confidentialité</a></li>
                </ul>
            </div>
        </div>
    </footer>
{% endblock %}